html
	head
		style.
			#back a {
				font-size:2em;
				text-decoration:none;
			}
			#qmode div a {
				text-decoration:none;
				color:black;
			}
	body
		div(id='back')
			a(href='./pcsclassify?stchk=-1') Back
		div(id='qmode')
			div
				a(href='./pcsclassify?stchk=12&qmode=0') qmode=0; 개인 사람 vs 다수 crs
			div
				a(href='./pcsclassify?stchk=14&qmode=1') qmode=1; 개별 crs vs 그룹사람들
