html
	head
		style.
			.listelement a {
				text-decoration:none;
				font-size:1.5em;
				color:grey;
			}
			a {
				font-size:2em;
				text-decoration:none;
				color:black;
			}
	body
		div(id='title')
			a(href='./page') Elcue Point System EPS List
		div(id='listcontainer')
			div(class='listelement')
				a(href='./pcsclassify?stchk=0')  EPS Editing
			div(class='listelement')
				a(href='./pcsclassify?stchk=3')  EPS PCPGrouping
			div(class='listelement')
				a(href='./pcsclassify?stchk=5')  EPS PCPVideoManagement
			div(class='listelement')
				a(href='./pcsclassify?stchk=7') EPS Case Level System CLS
			div(class='listelement')
				a(href='./pcsclassify?stchk=8') EPS crPCPManagement
			div(class='listelement')
				a(href='./pcsclassify?stchk=9') EPS crPCP based Problems
			div(class='listelement')
				a(href='./pcsclassify?stchk=10') EPS crPCP based VideoManagement
			div(class='listelement')
				a(href='./pcsclassify?stchk=11') EPS crPCP based Evaluation
			div(class='listelement')
				a(href='./pcsclassify?stchk=16') EPS pcp outer problems
			div(class='listelement')
				a(href='./pcsclassify?stchk=21') EPS Entity Edit
			div(class='listelement')
				a(href='./pcsclassify?stchk=17') EPS Statistics
