html
	head
		link
		script(src="https://unpkg.com/peerjs@1.0.4/dist/peerjs.min.js")
		script(src='cdct/webcomm.js')
	body
		h2 Web Communication Practice

		div
			p(id='webid')
		div
			div
				p insert id
			div
				input(type='text', id='schid')
		div
			div
				p insert message
			div
				input(type='text' , id='msg')
			
		div
			button(id='bt', onclick='myfunction()') Button
