<<<<<<< HEAD
html
	body


		div
			a(href='/hana/whalse/orderlistedit') ORDER LIST
		div
			a(href='/hana/whalse/backdatareview') Back Data Review
		div
			a(href='/whalse/pcoutput') ParcelCode Output

		div
			a(href='/hana/whalse/input') Input
		div
			a(href='/hana/whalse/output') Output
		div
			a(href='/hana/whalse/superior') Superior
		div
			a(href='/hana/whalse/processinglist') ProcessingList

		div
			a(href='/whalse/pcwaitinglist') PC Waitinglist
		div
			a(href='/whalse/scanstatus') Scan Status

		div
			a(href='/hana/whalse/madaeinfo') Madaeinfo
		div
			a(href='/hana/whalse/gurumiconnect') Gurumiconnect
		div
			a(href='/whalse/tagattach/tagtest') TagTest
		div
			a(href='/whalse/tagattach/zsmadaerelease') ZsMadaeRelease
		div
			a(href='/whalse/tagattach/jsmadaepickup') Js Madae Pickup 
		div
			a(href='/whalse/tagattach/customentry') Custom Entry

		div
			a(href='/whalse/tagattach/korjstoquick') KorJsToQuick
		div
			a(href='/whalse/tagattach/zuspicconfirm') Zus Pic Confirm

		div
			a(href='/whalse/tagattach/zusitemconfirm') Zus Madae Pic Connect
		div
			a(href='/whalse/tagattach/zusitemcheck') Zus Item Check
		div
			a(href='/whalse/tagattach/dwsitemfinalize') DWS Item Finalize


		div
			a(href='/whalse/tagattach/taginitialprocess') TagInitialProcess
		div
			a(href='/whalse/tagattach/taginbetweenprocess') TagInBetweenProcess
		div
			a(href='/whalse/admin/madaeitemconnectdisplay') MadaeItemConnectDisplay

		div
			a(href='/whalse/admin/madaetagconnectdisplay') MadaeTagConnectDisplay
		div
			a(href='/whalse/admin/initialdatadisplay') InitialDataDisplay
		div
			a(href='/whalse/admin/itemuploaddisplay') ItemuploadDisplay
		div
			a(href='/whalse/admin/logendpointdisplay') Log Endpoint Display
		div
			a(href='/whalse/admin/finalitemdisplay') Final Item Display
		div
			a(href='/whalse/admin/whalseusersdisplay') WhalseUsers Display
		div
			a(href='/whalse/admin/errorboarddisplay') Error Board Display
		div
			a(href='/whalse/admin/processinglistdisplay') Processinglist Display


		div
			a(href='/whalse/taglistdefine') TagList Define
		div
			a(href='/whalse/webtagdefine') WebPageTag Define
		div
			a(href='/uploadfile') UploadFile
		div
			a(href='/admin/register') Register!!

=======
html
	body


		div
			a(href='/hana/whalse/orderlistedit') ORDER LIST
		div
			a(href='/hana/whalse/backdatareview') Back Data Review
		div
			a(href='/whalse/pcoutput') ParcelCode Output

		div
			a(href='/hana/whalse/input') Input
		div
			a(href='/hana/whalse/output') Output
		div
			a(href='/hana/whalse/superior') Superior
		div
			a(href='/hana/whalse/processinglist') ProcessingList

		div
			a(href='/whalse/pcwaitinglist') PC Waitinglist
		div
			a(href='/whalse/scanstatus') Scan Status

		div
			a(href='/hana/whalse/madaeinfo') Madaeinfo
		div
			a(href='/hana/whalse/gurumiconnect') Gurumiconnect
		div
			a(href='/whalse/tagattach/tagtest') TagTest
		div
			a(href='/whalse/tagattach/zsmadaerelease') ZsMadaeRelease
		div
			a(href='/whalse/tagattach/jsmadaepickup') Js Madae Pickup 
		div
			a(href='/whalse/tagattach/customentry') Custom Entry

		div
			a(href='/whalse/tagattach/korjstoquick') KorJsToQuick
		div
			a(href='/whalse/tagattach/zuspicconfirm') Zus Pic Confirm

		div
			a(href='/whalse/tagattach/zusitemconfirm') Zus Madae Pic Connect
		div
			a(href='/whalse/tagattach/zusitemcheck') Zus Item Check
		div
			a(href='/whalse/tagattach/dwsitemfinalize') DWS Item Finalize


		div
			a(href='/whalse/tagattach/taginitialprocess') TagInitialProcess
		div
			a(href='/whalse/tagattach/taginbetweenprocess') TagInBetweenProcess
		div
			a(href='/whalse/admin/madaeitemconnectdisplay') MadaeItemConnectDisplay

		div
			a(href='/whalse/admin/madaetagconnectdisplay') MadaeTagConnectDisplay
		div
			a(href='/whalse/admin/initialdatadisplay') InitialDataDisplay
		div
			a(href='/whalse/admin/itemuploaddisplay') ItemuploadDisplay
		div
			a(href='/whalse/admin/logendpointdisplay') Log Endpoint Display
		div
			a(href='/whalse/admin/finalitemdisplay') Final Item Display
		div
			a(href='/whalse/admin/whalseusersdisplay') WhalseUsers Display
		div
			a(href='/whalse/admin/errorboarddisplay') Error Board Display
		div
			a(href='/whalse/admin/processinglistdisplay') Processinglist Display


		div
			a(href='/whalse/taglistdefine') TagList Define
		div
			a(href='/whalse/webtagdefine') WebPageTag Define
		div
			a(href='/uploadfile') UploadFile
		div
			a(href='/admin/register') Register!!

>>>>>>> 8c813bf179e290efda4ac7e9b6512c4cee33ed74
