html
	body
		div
			a(href='/admin/video') Vdieo Edit
		div
			a(href='/admin/prbvidcon') Prbvidcon
		div
			a(href='/vdrg/monitoring') Vdrg Monitoring
		div
			a(href='/vdrg/showuserhistory') Vdrg Show User history
