html
	head
		
	body
        div
			a(href='/whalse/admin/madaeitemconnectdisplay') MadaeItemConnectDisplay
		div
			a(href='/whalse/admin/madaetagconnectdisplay') MadaeTagConnectDisplay
		div
			a(href='/whalse/admin/initialdatadisplay') InitialDataDisplay
		div
			a(href='/whalse/admin/itemuploaddisplay') ItemuploadDisplay
		div
			a(href='/whalse/admin/logendpointdisplay') Log Endpoint Display
		div
			a(href='/whalse/admin/finalitemdisplay') Final Item Display
		div
			a(href='/whalse/admin/whalseusersdisplay') WhalseUsers Display
		div
			a(href='/whalse/admin/errorboarddisplay') Error Board Display
		div
			a(href='/whalse/admin/processinglistdisplay') Processinglist Display
        div
			a(href='/whalse/admin/madaetagprocessingdisplay') Madaetagprocessing Display
        div
			a(href='/whalse/admin/taglisttabledisplay') Taglisttable Display