html
	head
		script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML")
		script(src='/socket.io/socket.io.js')

	body
		div
			h2 mmcp Envelope
		script.
			var socket = io('/mmcp');
			socket.on('connect',()=>{
				console.log('mmcp connection ready');
			});


