html
	body
		div
			a(href='/mmcp/connect') MMCP Connect Prb-Envelope
		div
			a(href='/mmcp/assign') MMCP Assign ENvelope User
		div
			a(href='/mmcp/selectandprb') MMCP To print pdf
			//a(href='/mmcp/mmcpinspecthomework') MMCP Homework

		div
			a(href='/mmcp/brief/allusers') MMCP Brief allusers
		div
			a(href='/mmcp/glancetest/allusers') GlanceTest All users


		//div
			//a(href='/mmcp/mmcpinspectuserpic') MMCP Screen Check

