html
	head
		title HomeWork Home
	body
		div
			a(href='/mmcp/teachermmcpconnect') Homework Set 만들기
		div
			a(href='/mmcp/teacherassign') Homework 할당하기
		//div
			//a(href='/mmcp/teacherhwuserlist') Homework 체크하기
		div
			a(href='/mmcp/teacherhwlog') Homework 체크하기

		div
			a(href='/mmcp/connect') Glance Test Connect
		div
			a(href='/mmcp/assign') Glance Test mcpset-envelop
		//div
			//a(href='/mmcp/glancetest/allusers') Glance Test Result
		div
			a(href='/mmcp/glancetestuserlist') Glance Test Result
