html
	body
		div
			a(href='/log/login') Login Log
		div
			a(href='/log/pagerefresh') PageRefresh Log
		div
			a(href='/log/mmcphomework') MMCP Homework Log
		div
			a(href='/log/socketcheck') Socket Log 
