html
	head
		title Multi User Communication Home
	
	body
		div
			h2 Multi User Communication Home (mucm)
		div
			a(href='./mucm/caller') Caller
		div 
			a(href='./mucm/responder') Responder
		div
			a(href='./mucm/mediatest') selfcaller
		div
			a(href='./mucm/selfrespond') self respond

