html
	head
		script(src='/socket.io/socket.io.js')
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-MPRPDZ50KW")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-MPRPDZ50KW');

		style.
			#passwordbox {
				width:50%;
				margin:0 auto;
				background-color:#aaaaaa;
				padding:1% 0;
			}
			.blank {
				margin:5% auto;
				width:50%;
				text-align:center;
			}
			.blank input {
				font-size:2em;
				width:100%;
			}
			#buttonel {
				width:50%;
				height:10%;
			}
			.inputmsg {
				float:left;
			}
	body
		div
			h1 비밀번호를 바꾸세요.
			a(href='/') Back
		div(id='passwordbox')
			div(id='currentpassworddiv' class='blank')
				div(class='inputmsg')
					a 현재 패스워드
				input(type='password' id='currpassword' title='ss')
				
			div(id='newpassworddiv' class='blank')
				div(class='inputmsg')
					a 새 패스워드
				input(type='password' id='repassword')
			div(id='newpasswordagaindiv' class='blank')
				div(class='inputmsg')
					a 새 패스워드 다시
				input(type='password' id='repasswordagain')
			div(class='blank')
				button(id='buttonel' onclick='changePassword();') Change
		script.
			var socket = io('/mypage');
			var userinfo=!{JSON.stringify(userinfo)};

			function changePassword(){
				var currpassword=document.getElementById('currpassword').value;
				var repassword=document.getElementById('repassword').value;
				var repasswordagain=document.getElementById('repasswordagain').value;
				if(currpassword!=''){
					if(repassword==repasswordagain){
						socket.emit('mypagesetpassword',{repassword:repassword,currpassword:currpassword, username:userinfo.username});
					}else{
						alert('password is not matched');
					}
				}else{
					alert('insert password');
				}
			}

			socket.on('mypagesetpasswordafter',function(a){
				alert(a.msg);
				if(a.code==0){
				}
				document.getElementById('currpassword').value='';
				document.getElementById('repassword').value='';
				document.getElementById('repasswordagain').value='';

				
			});
