html
	body
		div

			div(class='rankedit')
				a(href='/admin/addans/' target='_blank' rel='noopenner noreferer' style='text-decoration:none') Prb Add
			div(class='rankedit')
				a(href='/admin/cpt?stchk=1' target='_blank' rel='noopenner noreferer' style='text-decoration:none') R1Edit	
			div(class='rankedit')
				a(href='/admin/cpt?stchk=4' target='_blank' rel='noopenner noreferer' style='text-decoration:none') R2Edit
			div(class='rankedit')
				a(href='/admin/cpt?stchk=8' target='_blank' rel='noopenner noreferer' style='text-decoration:none') R3Edit
			div(class='rankedit')
				a(href='/admin/cpt?stchk=5' target='_blank' rel='noopenner noreferer' style='text-decoration:none') PrbOrder
			div(class='rankedit')
				a(href='/admin/cpt?stchk=6' target='_blank' rel='noopenner noreferer' style='text-decoration:none') R1Order
			div(class='rankedit')
				a(href='/admin/cpt?stchk=7' target='_blank' rel='noopenner noreferer' style='text-decoration:none') R2Order
			div(class='rankedit')
				a(href='/admin/cpt?stchk=9' target='_blank' rel='noopenner noreferer' style='text-decoration:none') Constents map
			div(class='rankedit')
				a(href='/admin/cpt?stchk=10' target='_blank' rel='noopenner noreferer' style='text-decoration:none') User class

			div(id='logoutdiv')
				a(href='/logout') logout

