html
	body
		div
			h2 Mentee
		div
			a(href='/logout') Logout
		div
			a(href='/nusd/mentee/gospace') Math Study
		div
			a(href='/vdrg/userinterface') UserInterface
		div
			a(href='/mmcp/interface') Mmcp
			
