html
	head
		title Terminal Connect
	body
		div
			h2 terminal Connect
		div
			form(action='./terminalconnect' method='post')
				p startnum
				input(type='text' name='startnum')

				p endnum
				input(type='text' name='endnum')
				p OID
				input(type='text' name='oid' value=oid)
				input(type='submit' value='submit')
