html
	head
	body
		h2 QPRB Quickly create problem
		script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML")
		script(src='/socket.io/socket.io.js')
		script(src='/qprb/qprb.js')
		script.
			iniFunc(70,10,10);
