html
	head
		style.
			a{
				display:block;
				text-decoration:none;
				font-size:2em;
				color:black;
			}
	body
		a(href='/admin/epccrs') Course based analytics
		a(href='/admin/epcprb') Problem  based analytics
		a(href='/admin/wholestatistics') Whole Statistics
		a(href='/admin/page') Back
