html
	head
		style.
			a {
				display:block;
				text-decoration:black;
				color:black;
				font-size:3em;
			}
	
	body
		div
			a(href='./page') Back
		div
			a(href='./cpt?stchk=1') Make Problem Set
			a(href='./cpt?stchk=2') LecturePage
		

